@import url(/Utility/utility.css);

.signup-page-contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    flex-grow: 1;
    flex-direction: row;
    gap: 3%;
}

.main-wrapper .image-wrapper {
    width: fit-content;
}

.main-wrapper img {
    width: clamp(18rem, 45%, 25rem);
    margin: 0;
}

.card {
    padding: 1rem;
    min-width: 50%;
}

.card h3 {
    padding: 1rem 0;
}

.save-my-info {
    gap: 8px;
}

.actions {
    padding: 0 8px;
}

.actions span p,
.save-my-info p {
    font-size: 1.1rem;
}

.actions span {
    color: var(--color-tertiary);
    border-bottom: 2px solid var(--color-reset);
}

.save-my-info {
    font-size: 1.3rem;
}

button {
    border-radius: 0;
    box-shadow: var(--shadow-mild);
}

.action-btn button {
    box-shadow: none;
}

.action-btn button:active {
    top: 0;
    border: 2px solid black;
}

.solid-primary:hover {
    background-color: var(--color-tertiary-light);
    color: var(--color-primary)
}

.transparent button p {
    text-decoration: underline;
}

.outline-secondary {
    padding: 12px 20px;
}

.icon-with-text {
    background-color: var(--color-reset);
}

.icon-with-text p {
    gap: 1rem;
    font-size: 1.2rem;
}

.icon-with-text p:hover {
    border-bottom: 1px solid;
    transition: 0.4s;
}


@media (max-width:900px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .contact-you {
        margin-top: 2rem;
    }

    footer {
        padding: 2rem 1rem;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 12px;
    }

    nav {
        padding: 2rem;
    }

    .input-box,
    .brand-name,
    .brand-info,
    .sitemap,
    .contact-you {
        flex-grow: 1;
    }

    .fixed {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }
}